@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: rem(20) rem(10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint(large) {
    max-width: rem(1400);
  }
}

.wrapper {
  margin: 0 auto;

  @include breakpoint(large) {
    margin-left: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}