:root {
  --nwcGreen: hsl(167, 100%, 20.2%); // #006751 - R0 G103 B81
  --nwcLightGreen: hsl(120, 55.5%, 44.9%); // #346233 - R52 G178 B51
  --nwcRed: hsl(355, 84.5%, 54.5%); // #ed2939 - R237 G41 B57
  --nwcYellow: hsl(47, 100%, 46.1%); // #ebb700 - R235 G183 B0
  --nwcBlue: hsl(220, 100%, 23.1%); // #002776 - R0 G39 B118
  --nwcLightBlue: hsl(207, 100%, 40.6%); // #0073cf - R0 G115 B207
  
  --black: hsl(0, 0%, 0%); // #000000 - R0 G0 B0
  --richBlack: hsl(0, 0%, 6%); // #0f0f0f - R237 G41 B57
  --lightGrey: hsl(210, 1%, 60.8%); // #9a9b9c - R154 G155 B156
  --grey: hsl(0, 0%, 50.2%); // #808080 - R128 G128 B128
  --white: hsl(0, 0%, 100%); // #ffffff - R255 G255 B255
}