@use '../util' as *;

body {
  background-image: url("../img/background_mobile_430x931-min.jpg");
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  transition: all 300ms ease-in-out;

    @include breakpoint (medium) {
      background-image: url("../img/background_tablet_800x1074-min.jpg");
      background-size: cover;
      background-position: center;
      left: 50%;
      padding: 0;
      position: relative;
      transform: translateX(-50%);
      overflow: hidden;
      clear: both;
    }

    @include breakpoint (large) {
      background-image: url("../img/background_desktop_1920x1080-min.jpg");
      background-size: cover;
      background-position: center;
      left: 50%;
      padding: 0;
      position: relative;
      transform: translateX(-50%);
      overflow: hidden;
      clear: both;
  }
    }

section {
  margin-top: rem(40);
}

.header {
  margin-bottom: rem(150);

  @include breakpoint(large) {
    margin-bottom: 0;
  }
}

.heading {
  color: var(--white);
  font-size: rem(60);
  line-height: .9;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 rem(5) rem(6) var(--richBlack);
  margin-bottom: 0;

  @include breakpoint(medium) {
    margin-top: rem(150);
  }

  @include breakpoint(large) {
    font-size: rem(80);
    margin-top: rem(100);
  }
}

.gathering {

  @include breakpoint(medium) {
    width: 60%;
    margin-left: 30%;
  }

  @include breakpoint(large) {
    width: 80%;
    padding-left: rem(40);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 rem(20);
  margin-bottom: rem(100);

  @include breakpoint(large) {
    padding-left: rem(60);
  }
}

.saveDate {
  margin-bottom: rem(30);
}

.dates {
  font-size: rem(23);
}

.hotel {
  font-size: rem(22);
  text-transform: uppercase;
}

.dates,
.hotel {
  line-height: 1.35;
  color: var(--white);
  text-shadow: 0 rem(3) rem(3) var(--richBlack);
  margin: 0 0 rem(20) rem(10);
}